<!doctype html>
<title>Computatio</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Computatio</h1>
  <div class=metanav>
    <a href="{{ url_for('plot') }}">plot</a>
  </div>
    <div class=img>
        <img src="{{ url_for('plot') }}" height="100%" width="100%" alt="Wait...wait...computing...."> 
    </div>
    
<button type="button" onclick="alert('This will be a computation \n for simulating jumps')">Click Me!</button>
 
<button type="button" onclick="127.0.0.1:5000/post/24">Re-compute</button>

  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>
