{% extends "pohja.html" %}
{% block title %}
<h1>Language set</h1>
{% endblock %}
{% block content %}
<form method="POST" action="/">
    <div>{{ form.radius.label }} {{ form.radius() }} {{ form.radius.data }}</div>
    <div>{{ form.angle.label }} {{ form.angle() }} {{ form.angle.data }}</div>
    <button type="submit" class="btn">Submit</button>    
</form>


{% endblock %}
{% block kuva %}
<div class=img>
    <img src="{{ url_for('kuva') }}" height="80%" width="100%" alt="Computing in process... Wait.. wait..."> 
</div>
{% endblock %}

